<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloWorld" class="pl.sii.spring.core.HelloWorld">
    </bean>

    <bean id="helloWorldSetter" class="pl.sii.spring.core.HelloWorld">
        <property name="message" value="Hello Sii People!!" />
     </bean>

    <bean id="helloWorldConstructor" class="pl.sii.spring.core.HelloWorld">
        <constructor-arg value="Hello Sii People! from Condtructor" index="1"/>
        <constructor-arg value="Hello Sii People! from Condtructor2" index="0"/>
    </bean>

    <bean id="lazyWorker" class="pl.sii.spring.core.LazyWorker" scope="prototype"/>
    <bean id="hardWorker" class="pl.sii.spring.core.HardWorker" scope="singleton"/>
    <bean id="bestWorker" class="pl.sii.spring.core.HardWorker"/>

    <bean id="factory" class="pl.sii.spring.core.Factory">
        <property name="workers">
            <list>
                <ref bean="hardWorker"/>
                <ref bean="lazyWorker"/>
                <ref bean="lazyWorker"/>
                <ref bean="hardWorker"/>
                <null/>
            </list>
        </property>
        <property name="bestWorker" ref="bestWorker"/>
        <property name="theMostLazyWorker" ref="lazyWorker"/>
    </bean>

</beans>